/*Start global rules*/
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
:root{
  --main-color:#0f80aa;
  --secondary-color:#08465d;
  --main-transition:0.3s;
  --para-color1:#666;
  --border-color1:#e9e6e6;
  --section-background: #ececec;
  --section-padding:200px; 
}
html{
  scroll-behavior:smooth;
  
}
body{
 font-family:"Open Sans",sans-serif;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.container{
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title{
  margin:0 auto 80px;
  border:black solid 2px;
  width:fit-content;
  padding:10px 20px;
  font-size:30px;
  text-transform: uppercase;
  position:relative;
  z-index:1;
  transition:var(--main-transition);
  overflow:hidden;
}
.main-title:hover{
  color:white;
  border-color:white;
  transition-delay:0.5s;

}
.main-title::before,.main-title::after{
  content:"";
  width:12px;
  height:12px;
  background-color:var(--main-color);
  border-radius:50%;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before{
  right:-30px;
}
.main-title::after{
  left:-30px;
}
.main-title:hover::before{
  z-index:-1;
  animation:right-move 0.5s forwards;
}
.main-title:hover::after{
  z-index:-1;
  animation:left-move 0.5s forwards;
}


/*End global rules*/


/*Start header*/
.header {
  max-width: 100%;
  background-color: var(--secondary-color);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 25px; 
}

.header .logo {
  width: 100%;
  max-width: 213px;
  height: auto;
}

.header .logo img {
  width: 100%;
  padding: 10px;
  height: auto;
}

.header .main-nav {
  display: flex;
  justify-content: space-between;
 flex-wrap: wrap;
}

@media (max-width: 767px) {
  .header .main-nav {
   width: 100%;
   justify-content: center;
   margin-top: 10px;
  }

  .header .main-nav li {
    transform: translateX(0);
    margin-bottom: 10px;
  }
}

.header .main-nav li:hover {
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.header .main-nav li a {
  display: flex;
  height: 73px;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: white;
  padding: 0 20px;
  transition: var(--main-transition);
  overflow: hidden;
}
@media(max-width:767px){
  .header .main-nav li a{
    font-size: 14px;
  }
}



/*End header*/

/*Start landing*/
.landing{
  position:relative;
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  background-image:url(../images/landing.jpg);
  background-size: cover;
}

.landing{
  position: relative;
  display: flex;
  min-height: calc(100vh - 73px);
  display:flex;
  align-items:center;
  
 /* padding-bottom:10px;*/
}
.landing .text{
  position:absolute;
  flex:1;
  color:white;
  right:0;
  
  
}
@media(max-width:991px){
  .landing .text{
    text-align:center;
  }
}

.landing .text h1{
  font-size:32px;
  font-weight:bold;
  margin:0;
  letter-spacing:-2px;
}
.landing .text h1 span{
  font-size:22px;
 
}
@media(max-width:767px){
  .landing .text h1{
    font-size:28px;
  }
}

.landing .text p{
  font-size:23px;
  line-height: 1.7;
  color:whitesmoke;
  max-width:500px;
  margin:5px 0 0;
}
@media(max-width:991px){
  .landing .text p{
    margin:10px auto;
  }
}
@media(max-width:767px){
  .landing .text p{
    font-size:16px;
  }
}

/*End landing*/

/*Start about*/
.about {
  padding-top: var(--section-padding);
  padding-bottom:var(--section-padding);
  text-align: center;
}

@media(max-width:991px){
  .about {
    padding-bottom: calc(var(--section-padding) + 50px);
  }
}

@media(max-width:767px){
  .about {
    padding-bottom: calc(var(--section-padding) - 200px);
  }
}



.about .container p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  max-width: 100%; 
  max-height: 100%;
  margin: 0 auto;
  /*margin-bottom: 50px;*/

}
@media (min-width: 768px) {
  .about .container p {
    width: 57%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


/*End about*/

/*Start courses*/
.courses{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
}

.courses .container{
  
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:15px;
  
}

.product{
	overflow: hidden;
	background: #fffffa;
	color: #21201e;
	text-align: center;
	height: 400px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	margin: 32px;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	width: 200px;
	margin: 16px;
	transition: all 0.3s;
}


.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: var(--main-color);
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}
.product .product-info input[type=submit]{
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  transition: all var(--main-transition);
}
.product .product-info input[type=submit]:hover{
  background-color: var(--secondary-color);
}
/*End courses*/

/*Start reviews*/

.reviews{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
}

.reviews .container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}
@media(max-width:767px){
  .reviews .container{
    flex-direction: column;
  }
}

.reviews .description {
  text-align: center;
  width: 53%;
}

.reviews .clientImage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviews .clientImage span {
  margin-left: 10px;
  font-size: 22px;
}

.reviews .clientImage img {
  width: 60px;
}

.reviews .reviewSection {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.reviews .reviewItem {
  width: 300px;
  padding: 30px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #10102a;
  transition: all .2s linear;
}

.reviews .reviewItem:hover {
  border-color: var(--secondary-color);
  transform: scale(1.01);
  box-shadow: 0 0px 5px 0px #cbc0c0;
}


.reviews .reviewItem .starts{
  display: flex;
  align-items:center;
}

.reviews .reviewItem .starts ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 5px;
  transform: translateX(60px); 
}

.reviews .reviewItem .starts ul li i{
  padding-left: 4px;
  color:orange;
}

.reviews .reviewItem .starts ul li i::before{
  content:"\f005";
 
}

.reviews .top {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.reviews article p {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 1rem;
  font-family: system-ui;
}


@media screen and (max-width:700px) {
  .container {
      height: auto;
  }

  .reviews .description {
      width: 90%;
  }
}

@media screen and (max-width:375px) {
  .reviews  .reviewSection {
      padding: 0;
  }

  .reviews  .reviewItem {
      width: 100%;
  }

  .reviews  .clientImage {
      margin-bottom: 0.6rem;
  }

  .reviews .top {
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }
}
/*End reviews*/

/*Start contact-us*/
  .contact {
    max-width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding - 150px);
    text-align: center;
  }
  
  .contact .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
  }
  
  .contact .contact-box {
    max-width: 100%; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }
  
  .contact .left {
    height: 130px;
    background-color: var(--secondary-color);
  }
  
  .contact .right {
    padding: 25px 20px;
    background-color: var(--secondary-color);
  }
  
  .contact h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    color: white;
  }
  .contact .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: #ffffff;
    padding: 8px 16px;
    font-size: 18px;
    margin-bottom: 22px;
    transition: var(--main-transition);
  }
  
  .contact .field:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .contact textarea {
    min-height: 150px;
  }
  
  .contact .btn {
    width: 100%;
    padding: 8px 16px;
    background-color: #0b6080;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .contact .btn:hover {
    background-color: rgba(75, 125, 53);
  }
  
  .contact .field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
    color: #000000;
  }
  
  @media screen and (max-width: 880px) {
    .contact .contact-box {
      grid-template-columns: 1fr;
    }
  
    .contact .left {
      height: 200px;
    }
  }

/*End contact-us*/

/*Start footer*/
footer {
  max-width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 100%;
  transform: translateY(200px);
}
/*End footer*/





/*Start animations*/
@keyframes left-move{
  50%{
    left:0;
    width:12px;
    height:12px;
  }
  100%{
    left:0;
    border-radius:0;
    width:50%;
    height:100%;
    
  }
}
@keyframes right-move{
  50%{
    right:0;
    width:12px;
    height:12px;
  }
  100%{
    right:0;
    border-radius:0;
    width:calc(50% + 1px);
    height:100%;
    
  }
}

/*End animations*/